.input-icons-wrap {
  display: flex;
  align-items: center;
  position: relative;
}
.fa {
  position: absolute;
  margin: 0 5px;
}
.fa-microphone { right: 0; }

input {
  width: 100%;
  padding: 1em 2em;
}
ul {
  border: 1px solid;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: 10px;
  cursor:pointer;
 }

.active-button{
  background: white;
  border: solid 1px black;
  box-shadow: 1px 2px 2px 0px #0000006b;
}
.non-active-button {
  color: gray;
  border: gray;
  cursor: no-drop;
}

.button-wrap {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width:768px) {

  .second-col-wrap {
    flex-direction: column;
    width:100%;
    margin: auto;
  }
  .xe-logo, .body-wrap { margin: auto;}

 }

@media screen and (max-width:320px) {
  li:not(:nth-child(-n+10)) {
    display: none;
  }
}
